body {
    width: 100vw;
    background-color: lightsteelblue;
    text-align: center;
}


header {
    background-color:lightpink;
    height: 75px;
    min-width: 480px;
    max-width: 767px;
    margin: auto;
}

main {
    background-color: palegoldenrod;
    height: 980px;
    min-width: 480px;
    max-width: 767px;
    margin: auto;
}

@media(min-width: 767px) {
    header{
        max-width: 960px;
        margin: auto;
    }

    main {
        max-width: 960px;
        margin: auto;

    }
}
